:root {
    /* COLORS PRIMARY */
    --clr-green: hsl(163, 72%, 41%);
    --clr-red: hsl(356, 69%, 56%);

    --clr-facebook: hsl(208, 92%, 53%);
    --clr-twitter: hsl(203, 89%, 53%);
    --clr-lin-grad-insta-start: hsl(37, 97%, 70%);
    --clr-lin-grad-insta-end: hsl(329, 70%, 58%);
    --clr-youtube: hsl(348, 97%, 39%);

    --dark-toggle-bg-start: hsl(210, 78%, 56%);
    --dark-toggle-bg-end: hsl(146, 68%, 55%);
    --light-theme-toggle-bg: hsl(230, 22%, 74%);

    --bg-toggle-dark: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --bg-toggle-light: var(--light-theme-toggle-bg);


    /* DARK THEME COLORS */
    --clr-dark-900: hsl(230, 17%, 14%); /* (BG) */
    --clr-dark-850: hsl(232, 19%, 15%); /* (Top BG Pattern) */
    --clr-dark-800: hsl(228, 28%, 20%); /* (Card BG) */
    --clr-dark-400: hsl(228, 34%, 66%); /* (Text) VERY LIGHT BLUE */
    --clr-dark-100: hsl(0, 0%, 100%); /* (Text) WHITE */

    /* LIGHT THEME COLORS */
    --clr-light-900: hsl(230, 17%, 14%); /* (Text) DARK */
    --clr-light-400: hsl(228, 12%, 44%); /* (Text) GRAY BLUE MEDIUM */
    --clr-light-200: hsl(227, 47%, 96%); /* (Card BG) */
    --clr-light-150: hsl(225, 100%, 98%); /* (Top BG Pattern) */
    --clr-light-100: hsl(0, 0%, 100%); /* (BG) */

    /* FONTS */
    --ff-global: "Inter", sans-serif;
    
    --fs-200: .75rem;
    --fs-300: .875rem; /* (Overview Card Headings) */
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3.5rem;

    --fw-regular: 400;
    --fw-bold: 700;
}

/* COLOR THEME SWITCHER MEDIA QUERY JS TOGGLE */
:root[data-color-theme="dark"] {
    --bg: var(--clr-dark-900);
    --bg-2: var(--clr-dark-850);
    --bg-card: var(--clr-dark-800);
    --text-heading: var(--clr-dark-100);
    --text-regular: var(--clr-dark-400);
    --bg-toggle: var(--bg-toggle-dark);
}

:root[data-color-theme="light"] {
    --bg: var(--clr-light-100);
    --bg-2: var(--clr-light-150);
    --bg-card: var(--clr-light-200);
    --text-heading: var(--clr-light-900);
    --text-regular: var(--clr-light-400);
    --bg-toggle: var(--bg-toggle-light);
}

@media (prefers-color-scheme: dark) {
    :root[data-color-theme="default-browser"] {
        --bg: var(--clr-dark-900);
        --bg-2: var(--clr-dark-850);
        --bg-card: var(--clr-dark-800);
        --text-heading: var(--clr-dark-100);
        --text-regular: var(--clr-dark-400);
        --bg-toggle: var(--bg-toggle-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root[data-color-theme="default-browser"] {
        --bg: var(--clr-light-100);
        --bg-2: var(--clr-light-150);
        --bg-card: var(--clr-light-200);
        --text-heading: var(--clr-light-900);
        --text-regular: var(--clr-light-400);
        --bg-toggle: var(--bg-toggle-light);
    }
}



/* CSS RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.1;
}

img,
picture {
    display: block;
    max-width: 100%;
}

/* GENERAL STYLING */
body {
    color: var(--text-heading);
    background-color: var(--bg);
    font-family: var(--ff-global);
}

p {
    color: var(--text-regular);
}

.grid-wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 
        minmax(1rem, 1fr)
        min((100% - 2rem), 68rem)
        minmax(1rem, 1fr);
}

.grid-wrapper::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 100%;
    min-height: 16rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--bg-2);
}

.primary-header {
    grid-column-start: 2;
    position: relative;
    padding-block: 3rem;

    & h1 {
        font-size: clamp(var(--fs-600), 6vw, var(--fs-700));
    }

    & p {
        font-size: var(--fs-300);
        font-weight: var(--fw-bold);
    }
}

.label-tag {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--text-regular);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
}

#theme-toggle {
    display: none;
}

.slider {
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 100vw;
    background: var(--bg-toggle);
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.slider::before {
    --slider-pos: 2px;
    content: '';
    position: absolute;
    top: var(--slider-pos);
    right: var(--slider-pos);
    height: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: var(--bg-2);
    transition: all .15s ease-in-out;
}

#theme-toggle:checked + .slider::before {
    transform: translateX(-24px);
}

.main-content {
    grid-column-start: 2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.follower-card {
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    border-radius: .25rem;
    padding: 1.5rem;
    background-color: var(--bg-card);
}
    /* INDENTED BECAUSE IT'S IN RELATION TO FOLLOWER CARDS */
    .facebook-border {
        border-top: 4px solid var(--clr-facebook);
    }
    
    .twitter-border {
        border-top: 4px solid var(--clr-twitter);
    }

    .instagram-border {
        position: relative;
    }

    .instagram-border::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: 0;
        border-radius: .25rem .25rem 0 0;
        background: linear-gradient(90deg,
            var(--clr-lin-grad-insta-start), 
            var(--clr-lin-grad-insta-end));
        z-index: 10;
    }

    .youtube-border {
        border-top: 4px solid var(--clr-youtube);
    }


.account-name {
    margin-left: .5rem;
    color: var(--text-regular);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
}

.follower-number {
    font-size: var(--fs-900);
}

.followers-txt {
    font-size: var(--fs-300);
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.green-txt {
    align-items: center;
    margin-left: .25rem;
    color: var(--clr-green);
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
}

.red-txt {
    align-items: center;
    margin-left: .25rem;
    color: var(--clr-red);
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
}

.overview {
    margin-block: 2.5rem 1.5rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.overview-cards {
    --flow-space: 1.5rem;
    border-radius: .25rem;
    padding: 1.5rem;
    background-color: var(--bg-card);
}

.overview-card__title {
    color: var(--text-regular);
    font-size: var(--fs-300);
}

.overview-card__number {
    color: var(--text-heading);
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    line-height: 1;
}

.primary-footer {
    grid-column-start: 2;
    margin-block: 3rem;
}


/* UTILITY CLASSES */
.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

/* PRE STYLED FROM FRONTEND MENTOR */
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    background: lina;
     color: hsl(228, 45%, 44%); 
}